{% load static %}

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <img src="{% static 'images/logo.png' %}" width="10%" height="10%">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'ticketInfo' %}">航班信息</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'myTicketInfo' %}">我的票务</a>
      </li>
    </ul>
  </div>

  <span class="hello-msg">Hello, {{request.user}}</span>
  <span ><a class="hello-msg" href="{% url 'logout' %}">登出</a></span>

</nav>