{% load static %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<nav class="nav navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">HFUT Airlines</a>
        </div>
        <!-- Items -->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{% url 'adminTicketInfo' %}">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; 管理航班
                </a>
            </li>
            <li>
                <a href="{% url 'adminUserInfo' %}">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; 管理用户
                </a>
            </li>
            <li>
                <a href="{% url 'ticketInfo' %}">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; 航班信息
                </a>
            </li>
            <li>
                <a href="{% url 'myTicketInfo' %}">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; 我的票务
                </a>
            </li>
            <li>
                {% block login_display %} <!--在用户登录之后改变这一块的显示内容-->
                <a href="{% url 'login' %}">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; 登入
                </a>
                {% endblock %}
            </li>
            <li>
                <a href="{% url 'logout' %}">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; 登出
                </a>
            </li>

        </ul>

  </div>
</nav>