<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订票单</title>
    <style>
    body{
        margin: 0;
        padding: 0;
        height: 100%;
        background: rgba(204, 148, 122, 0.5) !important;
    }
    table {
        background-color: rgba(255,255,255,0.2);
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
    </style>
</head>
<body>
<h1 align="center">订票单</h1>
<table style="width:100%">
    <tr>
        <th>航班名称</th>
        <th>航班日期</th>
        <th>航班容量</th>
        <th>已满容量</th>
        <th>剩余容量</th>
        <th>价格</th>
        <th>出发城市</th>
        <th>到达城市</th>
        <th>出发机场</th>
        <th>到达机场</th>
        <th>出发时间</th>
        <th>到达时间</th>
    </tr>
    {% for ticketInfo_item in all_items %}
    <tr>
        <th>{{ ticketInfo_item.flight_name }}</th>
        <th>{{ ticketInfo_item.flight_date }}</th>
        <th>{{ ticketInfo_item.flight_capacity }}</th>
        <th>{{ ticketInfo_item.flight_booked_seats }}</th>
        <th>{{ ticketInfo_item.flight_remained_seats }}</th>
        <th>{{ ticketInfo_item.flight_price }}</th>
        <th>{{ ticketInfo_item.depart_city }}</th>
        <th>{{ ticketInfo_item.arrive_city }}</th>
        <th>{{ ticketInfo_item.depart_airport }}</th>
        <th>{{ ticketInfo_item.arrive_airport }}</th>
        <th>{{ ticketInfo_item.depart_time }}</th>
        <th>{{ ticketInfo_item.arrive_time }}</th>
    </tr>
    <form action="/bookTicket/{{ticketInfo_item.id}}" method="post">{% csrf_token %}
        <p align="center"><input type="submit" value="确认购买"></p>
    </form>
    {% endfor %}
</table>
</body>
</html>