<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>取票单</title>
    <style>
    body{
        margin: 0;
        padding: 0;
        height: 100%;
        background: rgba(204, 122, 174, 0.38) !important;
    }
    table {
        background-color: rgba(255,255,255,0.2);
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
    </style>
</head>
<body>
<h1 align="center">取票单</h1>
<table style="width:100%">
<tr>
        <th>航班名称</th>
        <th>航班日期</th>
        <th>航班容量</th>
        <th>已满容量</th>
        <th>剩余容量</th>
        <th>价格</th>
        <th>出发城市</th>
        <th>到达城市</th>
        <th>出发机场</th>
        <th>到达机场</th>
        <th>出发时间</th>
        <th>到达时间</th>
        <th>取票窗口</th>
        <th>座位号</th>
    </tr>
    {% for ticketInfo_item in all_items %}
    <tr>
        <th>{{ ticketInfo_item.flight_name }}</th>
        <th>{{ ticketInfo_item.flight_date }}</th>
        <th>{{ ticketInfo_item.flight_capacity }}</th>
        <th>{{ ticketInfo_item.flight_booked_seats }}</th>
        <th>{{ ticketInfo_item.flight_remained_seats }}</th>
        <th>{{ ticketInfo_item.flight_price }}</th>
        <th>{{ ticketInfo_item.depart_city }}</th>
        <th>{{ ticketInfo_item.arrive_city }}</th>
        <th>{{ ticketInfo_item.depart_airport }}</th>
        <th>{{ ticketInfo_item.arrive_airport }}</th>
        <th>{{ ticketInfo_item.depart_time }}</th>
        <th>{{ ticketInfo_item.arrive_time }}</th>
        <th>{{ ticketInfo_item.checkinitem__checkin_windows }}</th>
        <th>{{ ticketInfo_item.bookticketitem__seat_id }}</th>
    </tr>
    {% endfor %}
</table>
<a style="color: #a94442">注: 请于起飞前两小时于指定窗口取票.</a>
<form action="/myTicketInfo/" method="post">{% csrf_token %}
    <p align="center"><input type="submit" value="返回我的票务"></p>
</form>
</body>
</html>